.header {
    max-width: 1184px;
    min-height: 52px;
    margin: auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 1279px) {
    .header {
        max-width: 90%;
    }
}

@media all and (max-width: 1023px) {
    .header {
        max-width: 94%;
    }
}

@media all and (max-width: 767px) {
    .header {
        max-width: 90%;
        padding-top: 16px;
    }
}