.intro__tittle {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding-bottom: 40px;
}

@media all and (max-width: 500px) {
  .intro__tittle {
    font-size: 44px;
    line-height: 48px;
  }
}

@media all and (max-width: 320px) {
  .intro__tittle {
    font-size: 32px;
    line-height: 35px;
  }
}
